<md-sidenav class="md-sidenav-left" md-component-id="left"  md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">{{ user.username }}</h1>
  </md-toolbar>

  <md-content layout-margin>
    <md-button href="#/logout" class="md-accent">
      Cerrar Sesion
    </md-button>
  </md-content>

</md-sidenav>

<md-content >


  <md-toolbar md-whiteframe="4">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="toggleLeft()">
        <md-icon md-font-set="material-icons">menu</md-icon>
      </md-button>

      <h2 flex md-truncate>Tareas AngularJS</h2>
    </div>
  </md-toolbar>


  <md-list class="md-padding" layout-xs="column" layout="row">
    <ng-include src="'app/note/note.item.template.html'" ng-repeat="note in notes"></ng-include>
  </md-list>

  <md-fab-speed-dial class="md-fab-bottom-right" style="position: fixed">
    <md-fab-trigger>
    <md-button class="md-fab" ng-click="showDialog($event)">
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>

    </md-fab-trigger>
  </md-fab-speed-dial>

</md-content>